.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    background:#fff
}

.description-skill ul{
    list-style-type: none;
    font-size: 1.7rem;
}

.about-img img{
    filter: drop-shadow(2px 2px 5px rgb(43, 238, 252));
    width: 25vw;
    margin-bottom: 60em;
    animation: 4s focusAbout ease-in-out infinite;
}


@keyframes focusAbout {
    0%,100%{
        filter: drop-shadow(0 0 5px #0ef);
    }
    50%{
        filter: none;
    }
}


.heading{
    text-align: center;
    font-size: 3.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;   
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: justify;
}
