.portfolio{
    background: #323946;
}

.coming{
    text-align: center;
    margin-top: 75px;
    font-size: 10vw;
    animation: focus 3s ease-in-out infinite;
}
@keyframes focus {
    0%,100%{

        filter: drop-shadow(0 0 5px);
    }
    50%{
        filter: none;
    }
}
