.skills div{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding-bottom: 10rem;
}

.primary img{
   transition: .4s;
   padding-top: 25px;
   width: 100px;
}
.primary img:hover{
    transform: scale(1.4);
}

.secondary img{
    transition: .4s;
    padding-top:20px;
    padding-bottom: auto;
}

.secondary img:hover{
    transform: scale(1.4);
}


.terciary img{
    transition: .4s;
    padding-top:30px;
}

.terciary img:hover{
    transform: scale(1.4);
}